<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Practice</display-name>
  <servlet>
    <servlet-name>EmployeesServlets</servlet-name>
    <servlet-class>cn.com.yang.Servlet.EmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesServlets</servlet-name>
    <url-pattern>/empinfo</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>MyEmployeesServlets</servlet-name>
    <servlet-class>cn.com.yang.Servlet.MyEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEmployeesServlets</servlet-name>
    <url-pattern>/Listemp</url-pattern>
  </servlet-mapping>
</web-app>